<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>rj_sincromk</name>
	<displayName><![CDATA[Makito sync ]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[makito web service sync module with prestashop]]></description>
	<author><![CDATA[Roanja]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
